<div id='frame'>

<h1 class="board-title"> Where I've Traveled </h1>

  <% @been.reverse.each do |travel| %>
  <div class="img">
    <img src="<%= travel.image_url %>" height="20%">
    <div class="desc">
      <%= travel.location %>
      <br>
      <%= travel.user.name %>
      <br>
      <%if !current_user.nil? && current_user.id == travel.user_id%>
      <%= link_to 'Show', travel %>
      <%= link_to 'Edit', edit_travel_path(travel) %>
      <%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>
  </div>
  <% end %>
</div>

<div class="top-left-nav">
  <% if current_user %>
  <%= link_to 'New Travel', new_user_travel_path(current_user), class: "btn btn-success btn-white" %>
  <%end%>

  <%= link_to 'Home', '/', class: "btn btn-info btn-white"  %>
</div>
