<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @travel.location %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @travel.image_url %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |

<%= link_to 'Home', '/' %>
