<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @travel.location %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @travel.image_url %>
</p>

<div class="new-trav-home-shad">
  <div id="new-trav-home">
  <%= link_to 'Edit', edit_travel_path(@travel), class: "btn btn-success btn-white" %> |

  <%= link_to 'Home', '/', class: "btn btn-info btn-white" %>
  </div>
</div>
